body {
  font-family: 'Lato', sans-serif; }

a, button, input {
  outline: none !important; }

.title {
  font-weight: bold;
  font-size: 2.9rem;
  font-family: 'Roboto Slab', serif;
  color: #333; }
  @media (max-width: 767px) {
    .title {
      font-size: 2.3rem; } }

.subtitle {
  font-size: 1.5rem;
  color: #333; }
  @media (max-width: 767px) {
    .subtitle {
      font-size: 1.3rem; } }

.form_input {
  position: relative; }
  .form_input label {
    position: absolute;
    top: 10px;
    color: white;
    left: .8rem;
    transition: all .2s;
    font-size: .9rem;
    width: 100%; }
    .form_input label.floating {
      top: 0;
      opacity: .6;
      transform: scale(0.9) translateY(-100%);
      z-index: 2; }
  .form_input input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
    position: relative;
    z-index: 3;
    width: 100%;
    padding: .5rem .7rem; }

header {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  background-image: linear-gradient(to left, #21C0FC 0%, #0F66A4 100%); }
  header .row {
    align-items: center; }
  header .nav-list {
    list-style: none;
    padding-left: 0; }
  header .nav-item {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold; }
    header .nav-item a {
      border-bottom: 1px solid transparent;
      color: white;
      transition: all .2s;
      margin-top: -.2rem;
      padding-bottom: .2rem; }
      header .nav-item a:hover {
        text-decoration: none;
        color: #77ef78;
        border-bottom-color: #77ef78; }
  header .phone {
    display: block;
    font-size: .9rem;
    text-align: right;
    margin-bottom: .2rem;
    color: white;
    font-weight: bold; }
    header .phone i {
      margin-right: .5rem;
      font-size: .9rem; }
    header .phone:hover {
      color: #77ef78;
      text-decoration: none; }
  header .mail {
    display: block;
    font-size: .8rem;
    padding-left: 1.7rem;
    color: white;
    text-align: right; }
    header .mail:hover {
      color: #77ef78;
      text-decoration: none; }
  @media (max-width: 767px) {
    header .phone {
      font-size: .7rem; }
    header .mail {
      font-size: .65rem; } }

.promo {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../assets/logo.png);
  color: white;
  background-size: cover;
  background-position: center; }
  .promo__title {
    font-weight: 900;
    font-size: 3.2rem;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5rem; }
    @media (max-width: 767px) {
      .promo__title {
        font-weight: 900;
        font-size: 1.9rem;
        margin-bottom: 1.5rem; } }
  .promo__subtitle {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem; }
    @media (max-width: 767px) {
      .promo__subtitle {
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: 1rem; } }
  .promo__text {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; }
    @media (max-width: 767px) {
      .promo__text {
        font-weight: normal;
        font-size: 1.15rem;
        margin-bottom: 1.2rem; } }

.block-1 {
  background: #000;
  padding-top: 3rem; }
  .block-1 .title {
    color: white;
    margin-bottom: 2rem; }
  .block-1 .gallery {
    display: flex;
    flex-wrap: wrap; }
    .block-1 .gallery a {
      width: 20%;
      overflow: hidden; }
      .block-1 .gallery a img {
        max-width: 100%;
        transition: all .2s; }
      .block-1 .gallery a:hover img {
        transform: scale(1.05); }
    @media (max-width: 767px) {
      .block-1 .gallery a {
        width: 50%; } }

.block-2 {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .block-2 .title {
    margin-bottom: 2rem; }
  .block-2 .etaps__container {
    position: relative; }

.owl-btn-left, .owl-btn-right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #000;
  border: 0;
  z-index: 10;
  transition: all .2s; }
  .owl-btn-left:hover, .owl-btn-right:hover {
    transform: scale(1.05); }
  .owl-btn-left svg, .owl-btn-right svg {
    width: 17px; }
  .owl-btn-left svg path, .owl-btn-right svg path {
    fill: white; }

.owl-btn-left {
  left: 30px; }

.owl-btn-right {
  right: 30px; }
  .owl-btn-right svg {
    transform: scale(-1); }

@media (max-width: 767px) {
  .owl-btn-left, .owl-btn-right {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #000;
    border: 0;
    z-index: 10;
    transition: all .2s; }
    .owl-btn-left:hover, .owl-btn-right:hover {
      transform: scale(1.05); }
    .owl-btn-left svg, .owl-btn-right svg {
      width: 15px; }
    .owl-btn-left svg path, .owl-btn-right svg path {
      fill: white; }

  .owl-btn-left {
    left: 0; }

  .owl-btn-right {
    right: 0; }
    .owl-btn-right svg {
      transform: scale(-1); } }
.block-3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: white; }
  .block-3 .title {
    margin-bottom: 2rem; }
  .block-3__opp {
    background: #212121;
    color: #fff;
    padding: .7rem 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem; }
    .block-3__opp .item {
      border-bottom: 2px solid #333;
      padding: 1rem 0; }
      .block-3__opp .item a {
        color: white;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-size: 1.1rem;
        display: block; }
        .block-3__opp .item a:hover {
          color: rgba(255, 255, 255, 0.95);
          text-decoration: none; }
        .block-3__opp .item a[aria-expanded="true"]:before {
          opacity: 0; }
        .block-3__opp .item a:before {
          content: '';
          position: absolute;
          width: 2px;
          height: 15px;
          background: white;
          right: 7px;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: all .2s; }
        .block-3__opp .item a:after {
          content: '';
          position: absolute;
          width: 16px;
          height: 2px;
          background: white;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
      .block-3__opp .item ul {
        padding-left: 1.5rem;
        margin-top: 1rem;
        font-size: .9rem; }
        .block-3__opp .item ul li {
          line-height: 1.8; }
      .block-3__opp .item:last-of-type {
        border: 0; }

.block-4 {
  padding-top: 8rem;
  padding-bottom: 20rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .block-4 .title {
    color: white; }

.block-5 {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background: black; }
  .block-5 .title {
    color: white;
    margin-bottom: 3rem; }
  .block-5 form .btn-warning {
    border-radius: 25px;
    font-size: .9rem;
    flex: 1;
    margin-left: 1rem; }
  .block-5 .form__block {
    display: flex;
    align-items: flex-end; }
    .block-5 .form__block .form_input {
      width: 22%;
      padding: 0 .5rem; }
  .block-5 .policy-link {
    margin-top: 3rem;
    font-size: .7rem;
    text-align: center;
    color: #888; }
    .block-5 .policy-link a {
      color: #888;
      text-decoration: underline; }
      .block-5 .policy-link a:hover {
        color: white; }
  @media (max-width: 767px) {
    .block-5 {
      padding-top: 4rem;
      padding-bottom: 4rem; }
      .block-5 .form__block {
        flex-wrap: wrap; }
        .block-5 .form__block .form_input {
          width: 100%;
          margin-bottom: 2rem; }
        .block-5 .form__block .btn-warning {
          margin: 0; } }

.block-6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../assets/logo.png);
  background-size: cover;
  background-position: center; }
  .block-6 .title {
    color: white;
    margin-bottom: 2rem; }
  .block-6 .subtitle {
    color: white;
    margin-bottom: 3rem; }
  .block-6 .btn {
    border-radius: 2rem;
    padding: 1rem 2rem; }
  @media (max-width: 767px) {
    .block-6 {
      padding-top: 4rem;
      padding-bottom: 4rem; }
      .block-6 .title {
        font-size: 1.5rem; }
      .block-6 .subtitle {
        font-size: 1.05rem; }
      .block-6 .btn {
        border-radius: 2rem;
        padding: 1rem 2rem; } }

.block-7 {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .block-7 .title {
    margin-bottom: 4rem; }
  .block-7 .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .block-7 .gallery a {
      width: 50%;
      padding: 0 2rem;
      overflow: hidden;
      margin-bottom: 2rem; }
      .block-7 .gallery a img {
        max-width: 100%;
        transition: all .2s; }
      .block-7 .gallery a:hover img {
        transform: scale(1.05); }
  @media (max-width: 767px) {
    .block-7 .gallery a {
      width: 100%;
      padding: 0 2%; }
      .block-7 .gallery a img {
        max-width: 100%; } }

.block-8 {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .block-8 .title {
    margin-bottom: 1rem; }
  .block-8 .subtitle {
    margin-bottom: 3rem; }
  .block-8 .img__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .block-8 .img__block .item {
      width: 33.333333%;
      flex: 33.333333%; }
      .block-8 .img__block .item img {
        width: 100%;
        max-width: 100%; }
  @media (max-width: 767px) {
    .block-8 .img__block .item {
      width: 100%;
      flex: 100%; } }

.block-9 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #000; }
  .block-9 .title {
    color: white;
    margin-bottom: 3rem; }
  .block-9 .gallery {
    display: flex;
    align-items: center; }
    .block-9 .gallery a {
      width: 25%;
      overflow: hidden; }
      .block-9 .gallery a img {
        max-width: 100%;
        width: 100%; }
      .block-9 .gallery a:hover img {
        transform: scale(1.05); }

.block-10 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: black; }
  .block-10 .title {
    color: white;
    margin-bottom: 1rem; }
  .block-10 .subtitle {
    color: white;
    margin-bottom: 3rem; }
  .block-10 .personal__tile {
    margin-bottom: 5rem;
    color: white; }
    .block-10 .personal__tile img {
      margin-bottom: 2rem;
      max-width: 100%;
      width: 100%; }
    .block-10 .personal__tile .name {
      font-weight: bold;
      font-size: 1.6rem; }
    .block-10 .personal__tile .work {
      font-size: 1.2rem; }

.block-11 {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .block-11 .title {
    margin-bottom: 2rem; }
  .block-11 .text {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
    color: #333;
    margin-bottom: 2rem; }
  .block-11 .subtitle {
    font-weight: bold;
    font-size: 1.4rem; }
  @media (max-width: 767px) {
    .block-11 img {
      margin-top: 4rem; } }

.block-4 {
  padding-top: 8rem;
  padding-bottom: 20rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .block-4 .title {
    color: white; }

.block-4 {
  padding-top: 8rem;
  padding-bottom: 20rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .block-4 .title {
    color: white; }