.block-6{
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.7)0%, rgba(0,0,0,.7)100%),url(../assets/logo.png);
  background-size: cover;
  background-position: center;
  .title{
    color: white;
    margin-bottom: 2rem;
  }
  .subtitle{
    color: white;
    margin-bottom: 3rem;
  }
  .btn{
    border-radius: 2rem;
    padding: 1rem 2rem;
  }

  @media(max-width: $mdWidth){
    padding-top: 4rem;
    padding-bottom: 4rem;
    .title{
      font-size: 1.5rem;
    }
    .subtitle{
      font-size: 1.05rem;
    }
    .btn{
      border-radius: 2rem;
      padding: 1rem 2rem;
    }
  }
}