.block-1 {
  background: #000;
  padding-top: 3rem;

  .title {
    color: white;
    margin-bottom: 2rem;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    a {
      width: 20%;
      overflow: hidden;
      text-align: center;

      img {
        max-width: 120%;
        transition: all .2s;
        min-height: 100%;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    @media(max-width: $mdWidth) {
      a {
        width: 50%;
      }
    }
  }
}
