.block-9{
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #000;
  .title{
    color: white;
    margin-bottom: 3rem;
  }

  .gallery{
    display: flex;
    align-items: center;
    a{
      width: 25%;
      overflow: hidden;
      min-height: 250px;
      max-height: 250px;
      position: relative;
      img{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        height:100%;
        transition: all .2s;
      }
      &:hover{
        img{
          transform: scale(1.05);
        }
      }
    }
    @media(max-width: $mdWidth){
      flex-wrap: wrap;
      a{
        width: 100%;
        min-height: auto;
        max-height: none;
        margin-bottom: 1rem;
        img{
          position: relative;
          width: 100%;
        }
      }
    }
  }
}
