.block-3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: white;
  .title {
    margin-bottom: 2rem;
  }

  &__opp {
    background: #212121;
    color: #fff;
    padding: .7rem 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    .item {
      border-bottom: 2px solid #333;
      padding: 1rem 0;

      a {
        color: white;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-size: 1.1rem;
        display: block;
        &:hover{
          color: rgba(255,255,255,.95);
          text-decoration: none;
        }
        &[aria-expanded="true"] {
          &:before{
            opacity: 0;
          }
        }
        &:before{
          content: '';
          position: absolute;
          width: 2px;
          height: 15px;
          background: white;
          right: 7px;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: all .2s;
        }
        &:after{
          content: '';
          position: absolute;
          width: 16px;
          height: 2px;
          background: white;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;

        }

      }
      ul{
        padding-left: 1.5rem;
        margin-top: 1rem;
        font-size: .9rem;
        li{
          line-height: 1.8;
        }
      }
      &:last-of-type {
        border: 0;
      }
    }
  }
}